.course-enrollment-page{
    padding-top: 20px;
    padding-bottom: 20px;
}


.course-enrollment-content{
    padding: 50px;
    flex: 1;
}
.sc-bdVaJa {
    margin-left: 3px;
    margin-bottom: 5px;
    margin-right: 3px;
}

.side-header {
    padding: 30px;
    color:darkgrey !important;
    font-weight: 100 !important;
}

.side-header h4{
    color:darkgrey !important;
    font-weight: 100 !important;
}
.__rsnav___itemchild{
    margin-left: 25px
}

.arabic .itOSKA{
    border-right: 4px solid blue !important ; 
}
.english .itOSKA{
    border-right: 4px solid blue !important ; 
}

.arabic .sc-bxivhb.kwcFda{
    transform:rotate(180deg);
    bottom: 10px;
    position: absolute;
    right: 200px;
}

.arabic .sc-bxivhb.fdIEpy{
    bottom: -1px;
    position: absolute;
    right: 200px;
}