
  .badge{
      background: rgba(255,0,0,0.8);
      font-size: 10px;
  }
  .s{
      background: transparent;
      font-size: 12px;
      display: inline;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
  }
  
  .bm-burger-button {
   display: none !important;
  }
  
  /* Color/shape of burger icon bars */

  
  /* Position and sizing of clickable cross button */
 
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: white;
    padding-top: 20px;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }


  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }

  .ant-menu-submenu.ant-menu-submenu-inline:hover{
    background: lightgrey;
  }

  .ant-menu-item:hover{
    background: lightgrey ;
  }
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  .ant-avatar-lg{
    width: 100px !important ;
    height: 100px !important ;
    line-height: 100px !important ;
    border-radius: 50px !important;
  }
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  .ant-menu-item.ant-menu-item-selected{
    color:white !important ;
  }
  .ant-menu-submenu-arrow{
      width: auto !important;
      right: 14px !important;
  }
  .ant-anchor-wrapper{
    padding:10px !important;
    border-radius: 4px !important;
  }

  .ant-anchor-link{
      line-height: 2 !important;
      font-size: 14px !important;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  }

  .ant-menu-item-active{
    color: #e34b11 !important;
    border-color: #e34b11 !important;
  }

  .ant-menu-submenu-active{
    color: #e34b11 !important;
    border-color: #e34b11 !important;
  }

  .ant-menu-submenu:hover{
    color: #e34b11 !important;
  }
  .ant-menu-submenu-title:hover{
    color:#e34b11 !important;
  }
  a:hover{
    color: #e34b11 !important;
  }

  .ant-menu.ant-menu-sub.ant-menu-vertical {
      padding-left: 10px;
      padding-right: 10px;
  }

  .ant-input-search.ant-input-search-enter-button > .ant-input{
    padding-right: 50px !important;
  }
.logout .ant-popover-inner{
  padding: 5px;
}
.logout .ant-popover-message-title{
  margin-bottom: 20px;
}
.logout .ant-popover-buttons{
  text-align: center
}
.logout .ant-popover-buttons button{ 
  width: 100px ;
}
.ant-row-flex-space-around{
  padding: 0px 10px 0px 10px;
}

.arabic-submenu.ant-menu.ant-menu-sub.ant-menu-vertical{
  direction: rtl;
}
.arabic-submenu.ant-menu-submenu-arrow{
  right:170px !important;
  transform: rotate(180deg)
}
.arabic-submenu.ant-menu-submenu.ant-menu-submenu-popup.ant-menu-submenu-placement-rightTop  {
   left: 0 !important;
  right: 187.859px !important;
}

.header-shadow {
  -webkit-box-shadow: 0 6px 10px rgba(57, 63, 72, 0.3);
-moz-box-shadow: 0 6px 10px rgba(57, 63, 72, 0.3);
box-shadow: 0 6px 10px rgba(57, 63, 72, 0.3);
}