/* 

.cheader{
    padding: 10px;
    color: rgb(107, 134, 255);
    background-color: gainsboro;
}
.ccontent {
    border-bottom: 1px solid gainsboro;
    color: rgb(107, 134, 255);
overflow-y: scroll;
height: 70px;    
}
#category{
    height: 120px;
}
.ccontent li{
    padding-top:2px !important;
}
.ccontainer{
    margin-bottom: 10px;
}

.ccontent input[type="checkbox"]{
    margin-right: 15px;
} */

.search-filters{
    background: rgb(236, 235, 235);
    padding: 10px;
    border-radius: 6px;
}

.filter-container{
    max-height: 400px;
    overflow: auto;
    padding:10px;
}

.ant-collapse-header{
    padding-right: 12px !important;
}
.ant-pagination{
    display: inline-block;
}
#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
  }

  .search-page{
      min-height: 300px;
      padding: 20px;
  }

  .ant-select-selection.ant-select-selection--single{
      margin-left: 5px;
  }

  .ant-tree li ul{
      padding: 5px 18px 5px 18px !important;
  }

  .ant-tree.ant-tree-show-line li span.ant-tree-switcher{
      background: transparent !important;
  }

  .arabic.ant-tree li span.ant-tree-switcher, .ant-tree li span.ant-tree-iconEle{
          transform: rotate(90deg);

  }

@media only screen and (max-width: 1024px) {
  
    .search-page{
        padding: 30px;
    }
}

@media only screen and (max-width: 900px) {
    .search-page{
        padding: 20px ;
    }
 
}

@media only screen and (max-width: 600px) {
    .search-page{
        padding: 15px
    }
   
   }

 
   .modal-filters{
       overflow: auto;
   }